.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Siyah arka plan */
    color: #fff; /* Beyaz metin */
    text-align: center;
  }
  
  .errorCode {
    font-size: 10rem;
    font-weight: bold;
    margin: 0;
    color: #ff6b6b; /* Kırmızı tonlarında hata kodu */
  }
  
  .errorMessage {
    font-size: 2rem;
    margin: 0.5rem 0;
    color: #fff;
  }
  
  .errorDescription {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #b0b0b0; /* Açık gri tonlarında açıklama metni */
  }
  
  .homeButton {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #ff6b6b; /* Kırmızı tonlarında buton */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .homeButton:hover {
    background-color: #ff4b4b; /* Hover durumunda daha koyu kırmızı */
  }
  